venv
__pycache__
papers
source_csv
paper_extraction_results
cleaned_csv
extracted_chunked_text
tasks
.env
qa_dataset
adv_cleaned_tasks
pretraining_checkpoints
steps_old_vscode
old_steps_horeka
*.safetensors