accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
bitsandbytes
certifi
charset-normalizer
colorama
datasets
dill
evaluate
faiss-cpu
filelock
frozenlist
fsspec
huggingface-hub
idna
Jinja2
joblib
MarkupSafe
mpmath
multidict
multiprocess
networkx
nltk
numpy
opencv-python
packaging
pandas
pdf2image
peft
pillow
propcache
psutil
pyarrow
PyMuPDF
python-dateutil
pytz
PyYAML
regex
requests
rouge_score absl-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
